@charset "UTF-8";
a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #fff;
}

.btn-reon {
  --bs-btn-color: #fff;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000000;
  /* --bs-btn-hover-bg: #fff2ab; */
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-b {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-b-y {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-w {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  margin: 10px 10px 10px 0px;
}

.btn-reon-b-clear {
  --bs-btn-color: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  font-size: 0.9rem;
}

.btn-reon-b-order {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.btn-reon-wish {
  --bs-btn-color: #999;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ebb8cd;
  --bs-btn-hover-border-color: #ebb8cd;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.btn-reon-added {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ebb8cd;
  --bs-btn-border-color: #ebb8cd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #885c6e;
  --bs-btn-hover-border-color: #885c6e;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.btn-reon-b-del {
  --bs-btn-color: #999;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #999;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #999;
  --bs-btn-active-border-color: #999;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-reon-b-heart {
  --bs-btn-color: #999;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #999;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #ebb8cd;
  --bs-btn-hover-bg: #ebb8cd;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #999;
  --bs-btn-active-border-color: #999;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-reon-b-backtoshop {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #8f885f;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 0.5rem 0;
  width: 100%;
}

.btn-reon-nextstep {
  --bs-btn-color: #fff;
  --bs-btn-bg: #db5a5a;
  --bs-btn-border-color: #db5a5a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a50f0f;
  --bs-btn-hover-border-color: #a50f0f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a50f0f;
  --bs-btn-active-border-color: #a50f0f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 0.5rem 2.5rem;
  width: 100%;
}

.btn-reon-logout {
  --bs-btn-color: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dbb95a;
  --bs-btn-active-border-color: #dbb95a;
  border-radius: 25px;
  font-size: 0.9rem;
}

.btn-change {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-bottom: 1px solid #fff;
  color: #999;
  text-align: center;
  transition: all 0.2s;
}
.btn-change:hover {
  color: #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

#gotopspace {
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#gotopspace.visible {
  display: block;
  opacity: 0.6;
}

#gotopspace:hover {
  opacity: 1;
}

.gotopshow {
  display: block;
}

#gotop {
  position: relative;
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  padding: 20px 12px 15px 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gotop:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border-radius: 28px;
  border: 2px solid #333;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

#gotop span {
  position: relative;
  z-index: 1;
}

#gotop i {
  position: relative;
  top: 0;
  margin-bottom: 40px;
  padding-top: 10px;
  transform: translateY(5px);
  transition: all 0.3s ease;
}

#gotop:hover:before {
  height: 100%;
}

#gotop:hover i {
  transform: translateY(0);
}

#gotop:hover,
#gotop:focus {
  color: #333;
}

#gotop:active {
  transform: scale(0.96);
}

.navbar-wrapper-new {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
  box-shadow: 0px 0px 10px #999;
}

.navbar-new {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-new .logo-pic {
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-menu-new {
  display: flex;
  list-style: none;
  margin-bottom: 0rem;
  gap: 2rem;
}
.nav-menu-new .nav-item-new {
  position: static;
}
.nav-menu-new .nav-item-new:hover .dropdown-new {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-new {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  padding: 0;
  box-shadow: 0 2px 5px #ccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 1000;
}
.dropdown-new .dropdown-new-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.dropdown-new-title {
  position: relative;
  color: #333;
  padding: 5px;
  margin: 0 10px;
}
.dropdown-new-title::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
.dropdown-new-title:hover::after {
  width: 100%;
}

.dropdown-new-list .dropdown-new-item {
  margin-top: 10px;
  display: flex;
  flex-flow: column wrap;
  padding-left: 1rem;
  gap: 10px;
}
.dropdown-new-list .dropdown-new-item .dropdown-new-link {
  position: relative;
  color: #333;
  opacity: 0.6;
}
.dropdown-new-list .dropdown-new-item .dropdown-new-link::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
.dropdown-new-list .dropdown-new-item .dropdown-new-link:hover::after {
  width: 100%;
}

.right-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right-menu a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}

@media screen and (min-width: 993px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
}
.navbar-new-m {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-new-m .logo-pic {
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.navbar-new-m div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.side-menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.8784313725);
  padding: 0 0.2rem;
  z-index: 999;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  transition: all 0.5s ease 0s;
  transform: translateX(-500px);
}

.show-menu {
  transform: translateX(0);
}

.side-menu-content {
  height: 100vh;
  width: 100%;
  padding: 5%;
  overflow-y: auto;
}

.side-menu-1 {
  width: 100%;
  padding: 1rem;
}
.side-menu-1 .side-item-1 {
  width: 100%;
  padding-top: 1rem;
  border-bottom: 1px solid #949494;
}
.side-menu-1 .side-item-1 .item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.side-menu-1 .side-item-1 a {
  display: block;
  width: 90%;
}
.side-menu-1 .side-item-1 i {
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.side-menu-2 {
  overflow: hidden;
  height: 0px;
  width: 100%;
  transition: all 0.5s ease 0s;
}
.side-menu-2 .side-item-2 .item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}
.side-menu-2 .side-item-2 i {
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.side-menu-3 {
  overflow: hidden;
  height: 0px;
  width: 100%;
  transition: all 0.5s ease 0s;
}
.side-menu-3 .side-item-3 {
  padding-bottom: 1rem;
  padding-left: 1.3rem;
}

.navbar-wrapper-new-m {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
  box-shadow: 0px 0px 10px #999;
  display: none;
}
.navbar-wrapper-new-m ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-wrapper-new-m li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#cart_table {
  width: 100%;
}
#cart_table tr {
  height: 50px;
}

@media screen and (max-width: 900px) {
  .navbar-wrapper-new-m {
    display: block;
  }
  .navbar-wrapper-new {
    display: none;
  }
}
/* login登入畫面 */
.outline {
  overflow: hidden;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/login_bg-2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frame {
  padding: 20px 0;
  width: 25%;
  min-width: 250px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 15px rgb(66, 66, 66);
  animation: slideIn 1.2s ease forwards;
}
.frame form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.logo {
  font-size: 2rem;
  color: #ffd667;
  font-weight: bolder;
  text-shadow: 1px 1px 2px gray;
  padding-bottom: 10px;
}

.title {
  font-size: 1rem;
  padding-bottom: 10px;
}

.enterBox {
  font-size: 0.9rem;
}

.enterInput {
  border-radius: 20px;
  border: none;
  padding-left: 10px;
  height: 2rem;
  border: solid 2px white;
  width: 75%;
}
.enterInput:hover {
  border: solid 2px black;
}

.btn-login {
  border-radius: 20px;
  height: 2rem;
  width: 75%;
  border: none;
  color: white;
  background-color: #a19060;
  transition: all 0.1s ease 0s;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}
.btn-login:hover {
  border: solid 3px white;
}

.forget {
  font-size: 0.9rem;
  text-decoration: underline;
}

/* login-index */
.login-index-outline {
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
}

.login-index-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  gap: 5%;
}

.login-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #dbb95a;
  border-radius: 10px;
  width: 8rem;
  height: 8rem;
  font-weight: bolder;
  position: relative;
  transition: all 0.4s ease 0s;
}
.login-item a {
  display: block;
}
.login-item:nth-child(1)::after {
  content: "MEMBER PROFILE";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(2)::after {
  content: "ORDER LIST";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(3)::after {
  content: "WISH LIST";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(4)::after {
  content: "SPECIAL OFFER";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:hover {
  background-color: #dbb95a;
  height: 70%;
  color: #fff;
}
.login-item:hover::after {
  line-height: 800%;
  color: #fff;
}

.login-item-content {
  display: flex;
  flex-flow: row nowrap;
  width: 85%;
  max-width: 1250px;
  gap: 2rem;
  justify-content: center;
  margin-top: 20px;
}

.login-side {
  width: 10%;
  min-width: 80px;
  display: flex;
  flex-flow: column wrap;
  gap: 20rem;
  font-weight: bolder;
  justify-content: space-between;
}
.login-side .login-side-item {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-side .login-side-item:nth-child(1)::after {
  content: "PROFILE";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(2)::after {
  content: "ORDER";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(3)::after {
  content: "WISH";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(4)::after {
  content: "SPECIAL";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:hover::after, .login-side .login-side-item.activenow::after {
  transform: translate(-50%, -30%);
  color: gray;
}
.login-side .side-up {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.login-side .side-down .login-side-item:nth-child(1)::after {
  content: "HOME";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .side-down .login-side-item:hover::after, .login-side .side-down .login-side-item.activenow::after {
  transform: translate(-50%, -30%);
  color: gray;
}

@media screen and (max-width: 900px) {
  .login-side {
    display: none;
  }
}
.right-content {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.right-content .header {
  width: 100%;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: rgb(255, 254, 249);
  background-color: #dbb95a;
  gap: 3rem;
  min-height: 400px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#footer .footer-flex {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 130px;
  justify-content: flex-start;
}
#footer .footer-flex .footer-title {
  font-size: 1.1rem;
  font-weight: bolder;
  margin-bottom: 0.1rem;
}
#footer .footer-flex .footer-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 0.9rem;
}
#footer .footer-flex .footer-item span {
  font-size: 0.65rem;
}
#footer .footer-flex .footer-item a {
  transition: all 0.1s;
}
#footer .footer-flex .footer-item a:hover {
  color: #000;
  cursor: pointer;
}

.motto {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  letter-spacing: 10px;
}
.motto .mottoline {
  border-bottom: solid rgb(255, 255, 255);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.contact-color {
  color: black;
}

.contact-body {
  color: black;
  padding: 20px;
}

.social-media-logo {
  padding-bottom: 20px;
}

/* 版權尾 */
.copyright-area {
  padding: 60px 0px 30px 0px;
  background-color: white;
  color: #000;
  text-align: center;
  font-size: 0.7rem;
  line-height: 0.7rem;
}

#footer a {
  color: white;
}

.social-media-logo a i {
  color: white;
}

@media screen and (max-width: 900px) {
  #footer {
    flex-flow: row wrap;
    gap: 1rem;
  }
  .footer-flex {
    width: 90%;
  }
  .motto {
    margin-bottom: 2rem;
  }
}
/* 特色服務區 */
#service {
  height: auto;
  width: 100%;
  color: #949494;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 2rem;
}

.service-item {
  width: 20%;
  max-width: 250px;
  min-width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

#suggest {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.little-title {
  letter-spacing: 10px;
  font-weight: bolder;
  color: #dbb95a;
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 最新消息區 */
#thenews {
  height: auto;
  padding: 1rem 0;
}

.news-item-body {
  border-width: 2px;
  border-color: #dbb95a;
  border-style: solid;
  color: #000;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.news-item-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.news-list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
}

.news-item {
  width: 25%;
  opacity: 1;
  transition: all 0.6s ease 0s;
}
.news-item:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  #service {
    flex-flow: row wrap;
  }
  .service-item {
    width: 40%;
    max-width: 400px;
  }
  .news-list {
    flex-flow: row wrap;
  }
  .news-item {
    width: 80%;
  }
}
.register_content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 60%;
  height: 90%;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.7529411765);
  border-radius: 20px;
  padding: 1%;
  overflow-x: hidden;
  font-size: 1rem;
}

.r-content-head {
  font-size: 1.2rem;
  font-weight: bolder;
}

.r-content-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-y: scroll;
  margin: 20px;
  width: 100%;
}

.register-enterInput {
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  width: 100%;
}

.r-item {
  width: 90%;
  margin-left: 20px;
}
.r-item span {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0px 10px 0px 10px;
}

.register-entererea {
  margin: 0.5rem 0 1rem 0;
  border-radius: 50px;
  border: none;
  padding: 10px 15px;
  width: 100%;
}

/* SIDE BAR */
#sidebar_background {
  width: 100%;
  background-color: #eee;
  color: #333;
  border-radius: 5px;
  padding: 5% 5% 40% 5%;
}
#sidebar_background .sidebar-all {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 10%;
}
#sidebar_background .sidebar-all:hover::after {
  opacity: 0.3;
  transform: translate(100%, -50%);
}
#sidebar_background .sidebar-all::after {
  content: "ALL";
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  font-weight: bolder;
  color: #979777;
  opacity: 0.1;
  transform: translate(0, -50%);
  transition: all 0.5s ease 0s;
}
#sidebar_background .sidebar-star {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 10%;
}
#sidebar_background .sidebar-star:hover::after {
  opacity: 0.3;
  transform: translate(55%, -50%);
}
#sidebar_background .sidebar-star::after {
  content: "STAR";
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  font-weight: bolder;
  color: #979777;
  opacity: 0.1;
  transform: translate(0, -50%);
  transition: all 0.5s ease 0s;
}
#sidebar_background .sidebar-level01 {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 10% 0 10% 10%;
}
#sidebar_background .sidebar-level01 .span01 {
  position: relative;
  font-weight: bolder;
  display: inline-block;
  margin-bottom: 10%;
}
#sidebar_background .sidebar-level01 .span01::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
#sidebar_background .sidebar-level01 .span01:hover::after {
  width: 100%;
}
#sidebar_background .sidebar-level01 .sidebar-level02 {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
#sidebar_background .sidebar-level01 .sidebar-level02 div {
  position: relative;
}
#sidebar_background .sidebar-level01 .sidebar-level02 div::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
#sidebar_background .sidebar-level01 .sidebar-level02 div:hover::after {
  width: 100%;
}
#sidebar_background .sidebar-level01 .sidebar-level03 {
  display: flex;
  flex-flow: column wrap;
  height: -moz-fit-content;
  height: fit-content;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin: 2% 0 5% 0;
}
#sidebar_background .sidebar-level01 .sidebar-level03 span {
  position: relative;
  opacity: 0.6;
}
#sidebar_background .sidebar-level01 .sidebar-level03 span::after {
  content: "";
  width: 0%;
  height: 0.5px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
#sidebar_background .sidebar-level01 .sidebar-level03 span:hover::after {
  width: 100%;
}

#sidebar {
  display: block;
  width: 12%;
  min-width: 180px;
  max-width: 210px;
}

@media screen and (max-width: 900px) {
  #sidebar {
    display: none;
  }
}
/* 產品詳細內容頁 */
#good_content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
}

#orderbox {
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  justify-content: center;
}

.order-left {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.order-left .side-img {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.order-left .side-img-item {
  margin-bottom: 5px;
  transition: all 0.2s ease 0s;
}
.order-left .side-img-item:hover {
  opacity: 0.6;
  cursor: pointer;
}
.order-left .show-img {
  width: 70%;
}
.order-left .show-img:hover {
  cursor: pointer;
}

.order-right {
  width: 40%;
  font-size: 0.9rem;
}
.order-right .order-title {
  font-size: 1.5rem;
  font-weight: bolder;
}
.order-right .order-price {
  font-size: 1.5rem;
}
.order-right .input-group.order-num {
  width: 100%;
  min-width: 250px;
}

#product_intro {
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px 20px 20px 20px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 98%;
  align-items: center;
  padding-top: 20px;
}

.intro-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.intro-content img {
  width: 95%;
  max-width: 600px;
}
.intro-content .large-img {
  width: 100%;
  max-width: 1000px;
}

@media screen and (max-width: 900px) {
  #orderbox {
    flex-flow: row wrap;
    justify-content: center;
  }
  .order-left {
    width: 90%;
  }
  .order-right {
    width: 90%;
  }
}
.imgBox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6666666667);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.imgBox img {
  width: 50%;
  min-width: 200px;
  max-width: 700px;
}

#shopping_content {
  margin: 1rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
}

#product_list {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
}

.product-list-content {
  width: 100%;
}

.showing-pic img {
  border-radius: 5px;
}

.row.product-row {
  margin-bottom: 1rem;
  width: 100%;
}

.product-item {
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  transition: all 0.3s;
}
.product-item .product-card-img {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
}
.product-item .product-card-img .p-img {
  width: 100%;
  transform: scale(0.95);
  transition: all 0.3s;
}
.product-item:hover {
  background-color: #f7f7f7;
}
.product-item:hover > .product-card-img > .p-img {
  transform: scale(1);
}

.product-card-content {
  height: 45px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.product-price {
  width: 100%;
  text-align: center;
}

#navigation {
  margin: 40px 20px;
}

/* 頁碼 */
.pagination {
  justify-content: center;
  margin: 0px 90px 50px 0px;
  border-radius: 0;
}
.pagination .page-item .page-link {
  background-color: #fff;
  color: #999;
  border: none;
  padding: 10px 15px;
  outline: none;
}
.pagination .page-item .page-link:hover {
  border-bottom: 2px solid #000;
  color: #000;
}
.pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 0;
  outline: none;
  border-bottom: 2px solid #000;
  color: #000;
}
.pagination .page-item.active .page-link {
  background-color: #fff;
  color: #000;
  border-radius: 0;
  border-bottom: 2px solid #000;
}
.pagination .page-item.active .page-link {
  background-color: #fff;
  color: #000;
  border-radius: 0;
  border-bottom: 2px solid #000;
}
.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* 目前位置 */
#breadcrumb {
  background-color: #eee;
  color: #333;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
}

.bread {
  display: flex;
}

.bread-m {
  display: none;
}

@media screen and (max-width: 900px) {
  .bread {
    display: none;
  }
  .bread-m {
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  .product-card-content {
    height: 60px;
  }
}
#cart_content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 3rem 0;
}

.page-title {
  width: 90%;
  max-width: 1280px;
  font-size: 0.9rem;
  background-color: #eee;
  border-radius: 45px;
  padding: 0.5rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.location {
  height: 100%;
  display: flex;
  align-items: center;
}

.cart-list {
  width: 85%;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.cart-list .cart-list-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem 0.7rem;
  gap: 0.5rem;
  border-radius: 5px;
  transition: all 0.2s;
}
.cart-list .cart-list-row .cart-list-up {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
.cart-list .cart-list-row .cart-list-up .list-pic {
  display: flex;
  height: auto;
  align-items: center;
  width: 40%;
  min-width: 80px;
  justify-content: center;
}
.cart-list .cart-list-row .cart-list-up .list-name {
  display: flex;
  height: auto;
  align-items: center;
  width: 60%;
}
.cart-list .cart-list-row .cart-list-down {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
}
.cart-list .cart-list-row .cart-list-down .list-price {
  display: flex;
  height: auto;
  align-items: center;
  width: 30%;
  min-width: 80px;
  justify-content: center;
}
.cart-list .cart-list-row .cart-list-down .list-num {
  display: flex;
  height: auto;
  align-items: center;
  width: 40%;
  min-width: 80px;
  justify-content: center;
}
.cart-list .cart-list-row .cart-list-down .list-total {
  display: flex;
  height: auto;
  align-items: center;
  width: 30%;
  min-width: 80px;
  justify-content: center;
}
.cart-list .cart-list-row .cart-list-footer {
  width: 20%;
  display: flex;
  flex-flow: row nowrap;
}
.cart-list .cart-list-row .cart-list-footer .list-del {
  display: flex;
  height: auto;
  align-items: center;
  min-width: 80px;
  justify-content: center;
}
.cart-list .cart-list-row .cart-list-footer .list-heart {
  display: flex;
  height: auto;
  align-items: center;
  min-width: 80px;
  justify-content: center;
}
.cart-list .cart-list-row:hover {
  background-color: #f1f1f1;
}

.payment {
  width: 90%;
  max-width: 1280px;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.payment-content {
  width: 60%;
}
.payment-content .payment-info-title {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 5px 5px 0 0;
}
.payment-content .info-content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
}
.payment-content .info-content .info-content-item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

.total-content {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.total-content .total-price-title {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 5px 5px 0 0;
}
.total-content .total-price-content {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
.total-content .total-price-content .price-content-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.total-content .total-price-content .price-content-item:nth-child(4) {
  font-size: 1.2rem;
  font-weight: bolder;
}
.total-content .total-price-btn {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
.total-content .total-price-btn a {
  width: 50%;
}

/* checkout配送資訊及付款資訊 */
.deliver-info {
  padding: 10px 5px 10px 10px;
  border-right: 1px solid #ccc;
}
.deliver-info .change-info {
  color: #999;
  font-size: 0.9rem;
}
.deliver-info .change-info:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.pay-info {
  margin-left: 15px;
  padding: 10px 0px;
}

#list_area {
  background-color: #fff;
  box-shadow: 2px 2px 10px #999;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px 20px 20px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

@media screen and (max-width: 900px) {
  .cart-list .cart-list-row {
    flex-flow: column nowrap;
  }
  .cart-list .cart-list-row .cart-list-up {
    width: 100%;
  }
  .cart-list .cart-list-row .cart-list-down {
    width: 100%;
    padding: 0.2rem 0;
    background-color: #f1f1f1;
  }
  .cart-list .cart-list-row .cart-list-down .list-price::before {
    content: "單價";
    font-size: 0.7rem;
    color: #999;
    padding-right: 0.5rem;
  }
  .cart-list .cart-list-row .cart-list-down .list-num::before {
    content: "數量";
    font-size: 0.7rem;
    color: #999;
    padding-right: 0.5rem;
  }
  .cart-list .cart-list-row .cart-list-down .list-total::before {
    content: "總額";
    font-size: 0.7rem;
    color: #999;
    padding-right: 0.5rem;
  }
  .cart-list .cart-list-row .cart-list-footer {
    width: 100%;
    gap: 0.5rem;
  }
  .cart-list .cart-list-row .cart-list-footer .list-del {
    display: flex;
    height: auto;
    align-items: center;
    width: 50%;
  }
  .cart-list .cart-list-row .cart-list-footer .list-del .btn-reon-b-del {
    width: 100%;
  }
  .cart-list .cart-list-row .cart-list-footer .list-del .btn-reon-b-del ::after {
    content: "下次再買";
    padding-left: 0.5rem;
    font-size: 0.9rem;
  }
  .cart-list .cart-list-row .cart-list-footer .list-heart {
    display: flex;
    height: auto;
    align-items: center;
    width: 50%;
  }
  .cart-list .cart-list-row .cart-list-footer .list-heart .btn-reon-b-heart {
    width: 100%;
  }
  .cart-list .cart-list-row .cart-list-footer .list-heart .btn-reon-b-heart ::after {
    content: "加入收藏";
    padding-left: 0.5rem;
    font-size: 0.9rem;
  }
  .cart-list .cart-list-row.list-head {
    display: none;
  }
  .payment {
    flex-flow: column nowrap;
    align-items: center;
    width: 85%;
  }
  .total-content {
    width: 100%;
    padding: 0.5rem 0.7rem;
  }
  .payment-content {
    width: 100%;
    padding: 0.5rem 0.7rem;
  }
  .payment-content .info-content-item div:nth-child(1) {
    min-width: 70px;
  }
}
@media screen and (max-width: 400px) {
  .cart-list .cart-list-row .cart-list-up {
    flex-flow: column nowrap;
  }
  .cart-list .cart-list-row .cart-list-up .list-pic {
    width: 100%;
    justify-content: center;
  }
  .cart-list .cart-list-row .cart-list-up .list-name {
    width: 100%;
    justify-content: center;
  }
  .cart-list .cart-list-row .cart-list-down {
    flex-flow: column nowrap;
  }
  .cart-list .cart-list-row .cart-list-down .list-price {
    width: 100%;
    text-align: center;
  }
  .cart-list .cart-list-row .cart-list-down .list-num {
    width: 100%;
    text-align: center;
  }
  .cart-list .cart-list-row .cart-list-down .list-total {
    width: 100%;
    text-align: center;
  }
  .payment {
    font-size: 0.8rem;
  }
  .payment-content .info-content-item div:nth-child(1) {
    min-width: 60px;
  }
}
.newslist {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 50px;
  display: flex;
  flex-flow: column nowrap;
}
.newslist img {
  width: 30%;
  border-radius: 20px;
}

.newsitem {
  display: flex;
  flex-flow: row wrap;
}

.order-list {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
}

.order-list-item {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
}
.order-list-item .order-title {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: center;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.order-list-item .order-title .order-title-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: space-evenly;
}
.order-list-item .order-title .order-title-row div {
  width: 25%;
}

@media screen and (max-width: 900px) {
  .login-side {
    display: none;
  }
  .order-list {
    width: 100%;
  }
}
#member-profile .itemTeam {
  height: 1.2rem;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=all.css.map */