@charset "UTF-8";
/* login登入畫面 */
.outline {
  overflow: hidden;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/login_bg-2-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.frame {
  padding: 20px 0;
  width: 25%;
  min-width: 250px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 15px rgb(66, 66, 66);
  animation: slideIn 1.2s ease forwards;
}
.frame form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.logo {
  font-size: 2rem;
  color: #ffd667;
  font-weight: bolder;
  text-shadow: 1px 1px 2px gray;
  padding-bottom: 10px;
}

.title {
  font-size: 1rem;
  padding-bottom: 10px;
}

.enterBox {
  font-size: 0.9rem;
}

.enterInput {
  border-radius: 20px;
  border: none;
  padding-left: 10px;
  height: 2rem;
  border: solid 2px white;
  width: 75%;
}
.enterInput:hover {
  border: solid 2px black;
}

.btn-login {
  border-radius: 20px;
  height: 2rem;
  width: 75%;
  border: none;
  color: white;
  background-color: #a19060;
  transition: all 0.1s ease 0s;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}
.btn-login:hover {
  border: solid 3px white;
}

.forget {
  font-size: 0.9rem;
  text-decoration: underline;
}

/* login-index */
.login-index-outline {
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
}

.login-index-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  gap: 5%;
}

.login-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #dbb95a;
  border-radius: 10px;
  width: 8rem;
  height: 8rem;
  font-weight: bolder;
  position: relative;
  transition: all 0.4s ease 0s;
}
.login-item a {
  display: block;
}
.login-item:nth-child(1)::after {
  content: "MEMBER PROFILE";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(2)::after {
  content: "ORDER LIST";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(3)::after {
  content: "WISH LIST";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:nth-child(4)::after {
  content: "SPECIAL OFFER";
  opacity: 0.3;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd667;
  text-align: center;
  line-height: 250%;
  transition: all 0.4s ease 0s;
}
.login-item:hover {
  background-color: #dbb95a;
  height: 70%;
  color: #fff;
}
.login-item:hover::after {
  line-height: 800%;
  color: #fff;
}

.login-item-content {
  display: flex;
  flex-flow: row nowrap;
  width: 85%;
  max-width: 1250px;
  gap: 2rem;
  justify-content: center;
  margin-top: 20px;
}

.login-side {
  width: 10%;
  min-width: 80px;
  display: flex;
  flex-flow: column wrap;
  gap: 20rem;
  font-weight: bolder;
  justify-content: space-between;
}
.login-side .login-side-item {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-side .login-side-item:nth-child(1)::after {
  content: "PROFILE";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(2)::after {
  content: "ORDER";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(3)::after {
  content: "WISH";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:nth-child(4)::after {
  content: "SPECIAL";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .login-side-item:hover::after, .login-side .login-side-item.activenow::after {
  transform: translate(-50%, -30%);
  color: gray;
}
.login-side .side-up {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.login-side .side-down .login-side-item:nth-child(1)::after {
  content: "HOME";
  opacity: 0.5;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #dbb95a;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.login-side .side-down .login-side-item:hover::after, .login-side .side-down .login-side-item.activenow::after {
  transform: translate(-50%, -30%);
  color: gray;
}

@media screen and (max-width: 900px) {
  .login-side {
    display: none;
  }
}
.right-content {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.right-content .header {
  width: 100%;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}/*# sourceMappingURL=login-out.css.map */