a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #fff;
}

.btn-reon {
  --bs-btn-color: #fff;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000000;
  /* --bs-btn-hover-bg: #fff2ab; */
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-b {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-b-y {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
}

.btn-reon-w {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  margin: 10px 10px 10px 0px;
}

.btn-reon-b-clear {
  --bs-btn-color: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  font-size: 0.9rem;
}

.btn-reon-b-order {
  --bs-btn-color: #000;
  /* --bs-btn-bg: #ffffff; */
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #949494;
  --bs-btn-disabled-border-color: #db9696;
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.btn-reon-wish {
  --bs-btn-color: #999;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ebb8cd;
  --bs-btn-hover-border-color: #ebb8cd;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.btn-reon-added {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ebb8cd;
  --bs-btn-border-color: #ebb8cd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #885c6e;
  --bs-btn-hover-border-color: #885c6e;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  /* --bs-btn-active-bg: #8f885f; */
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.btn-reon-b-del {
  --bs-btn-color: #999;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #999;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #999;
  --bs-btn-active-border-color: #999;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-reon-b-heart {
  --bs-btn-color: #999;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #999;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-border-color: #ebb8cd;
  --bs-btn-hover-bg: #ebb8cd;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #999;
  --bs-btn-active-border-color: #999;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-reon-b-backtoshop {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #8f885f;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 0.5rem 0;
  width: 100%;
}

.btn-reon-nextstep {
  --bs-btn-color: #fff;
  --bs-btn-bg: #db5a5a;
  --bs-btn-border-color: #db5a5a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a50f0f;
  --bs-btn-hover-border-color: #a50f0f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a50f0f;
  --bs-btn-active-border-color: #a50f0f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 0.5rem 2.5rem;
  width: 100%;
}

.btn-reon-logout {
  --bs-btn-color: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dbb95a;
  --bs-btn-hover-border-color: #dbb95a;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dbb95a;
  --bs-btn-active-border-color: #dbb95a;
  border-radius: 25px;
  font-size: 0.9rem;
}

.btn-change {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-bottom: 1px solid #fff;
  color: #999;
  text-align: center;
  transition: all 0.2s;
}
.btn-change:hover {
  color: #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

#gotopspace {
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#gotopspace.visible {
  display: block;
  opacity: 0.6;
}

#gotopspace:hover {
  opacity: 1;
}

.gotopshow {
  display: block;
}

#gotop {
  position: relative;
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  padding: 20px 12px 15px 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gotop:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border-radius: 28px;
  border: 2px solid #333;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

#gotop span {
  position: relative;
  z-index: 1;
}

#gotop i {
  position: relative;
  top: 0;
  margin-bottom: 40px;
  padding-top: 10px;
  transform: translateY(5px);
  transition: all 0.3s ease;
}

#gotop:hover:before {
  height: 100%;
}

#gotop:hover i {
  transform: translateY(0);
}

#gotop:hover,
#gotop:focus {
  color: #333;
}

#gotop:active {
  transform: scale(0.96);
}/*# sourceMappingURL=usual.css.map */