/* 產品詳細內容頁 */
#good_content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
}

#orderbox {
    height: fit-content;
    margin: 20px;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    justify-content: center;
}


.order-left {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .side-img {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .side-img-item {
        margin-bottom: 5px;
        transition: all 0.2s ease 0s;

        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }

    .show-img {
        width: 70%;

        &:hover{
            cursor: pointer;
        }
    }
}



.order-right {
    width: 40%;
    font-size: 0.9rem;

    .order-title {
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .order-price {
        font-size: 1.5rem;
    }

    .input-group.order-num {
        width: 100%;
        min-width: 250px;
    }
}







#product_intro {
    height: fit-content;
    margin: 50px 20px 20px 20px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
    padding-top: 20px;
}

.intro-content{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    gap: 10px;

    img{
        width: 95%;
        max-width: 600px;
    }

    .large-img{
        width: 100%;
        max-width: 1000px;
    }
}

@media screen and (max-width:900px) {
    #orderbox {
        flex-flow: row wrap;
        justify-content: center;
    }

    .order-left {
        width: 90%;
    }

    .order-right {
        width: 90%;
    }

}

.imgBox {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000aa;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;

    img {
        width: 50%;
        min-width: 200px;
        max-width: 700px;
    }
}

