@use '_mixin.scss' as *;

/* login登入畫面 */
.outline {
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/login_bg-2-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frame {
    padding: 20px 0;
    width: 25%;
    min-width: 250px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 5px 5px 15px rgb(66, 66, 66);
    animation: slideIn 1.2s ease forwards;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.logo {
    font-size: 2rem;
    color: #ffd667;
    font-weight: bolder;
    text-shadow: 1px 1px 2px gray;
    padding-bottom: 10px;
}


.title {
    font-size: 1rem;
    padding-bottom: 10px;
}

.enterBox {
    font-size: 0.9rem;
}

.enterInput {
    border-radius: 20px;
    border: none;
    padding-left: 10px;
    height: 2rem;
    border: solid 2px white;
    width: 75%;

    &:hover {
        border: solid 2px black;
    }

}

.btn-login {
    border-radius: 20px;
    height: 2rem;
    width: 75%;
    border: none;
    color: white;
    background-color: #a19060;
    transition: all 0.1s ease 0s;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;

    &:hover {
        border: solid 3px white;
    }
}

.forget {
    font-size: 0.9rem;
    text-decoration: underline;
}



/* login-index */
.login-index-outline {
    padding: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}

.login-index-content {
    @include disaplay_wraprow {
        height: 400px;
        width: 100%;
        gap: 5%;
    }

}


// 側攔
.login-item {
    @include disaplay_wraprow {
        border: 2px solid $footer_color;
        border-radius: 10px;
        width: 8rem;
        height: 8rem;
        font-weight: bolder;
        position: relative;
        transition: all 0.4s ease 0s;
    }

    a {
        display: block;
    }

    &:nth-child(1)::after {
        @include background-name(MEMBER PROFILE) {}
    }

    &:nth-child(2)::after {
        @include background-name(ORDER LIST) {}
    }

    &:nth-child(3)::after {
        @include background-name(WISH LIST) {}
    }

    &:nth-child(4)::after {
        @include background-name(SPECIAL OFFER) {}
    }

    &:hover {
        background-color: $footer_color;
        height: 70%;
        color: #fff;

        &::after {
            line-height: 800%;
            color: #fff;
        }
    }
}


.login-item-content {
    display: flex;
    flex-flow: row nowrap;
    width: 85%;
    max-width: 1250px;
    gap: 2rem;
    justify-content: center;
    margin-top: 20px;
}

.login-side {
    width: 10%;
    min-width: 80px;
    display: flex;
    flex-flow: column wrap;
    gap: 20rem;
    font-weight: bolder;
    justify-content: space-between;

    .login-side-item {
        width: 100%;
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;

        &:nth-child(1)::after {
            @include login-side-name(PROFILE) {}
        }

        &:nth-child(2)::after {
            @include login-side-name(ORDER) {}
        }

        &:nth-child(3)::after {
            @include login-side-name(WISH) {}
        }

        &:nth-child(4)::after {
            @include login-side-name(SPECIAL) {}
        }

        &:hover::after,
        &.activenow::after {
            transform: translate(-50%, -30%);
            color: gray;
        }
    }

    .side-up {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .side-down {
        .login-side-item {

            &:nth-child(1)::after {
                @include login-side-name(HOME) {}
            }

            &:hover::after,
            &.activenow::after {
                transform: translate(-50%, -30%);
                color: gray;
            }
        }
    }
}

@media screen and (max-width:900px) {
    .login-side {
        display: none;
    }
}

.right-content {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    .header {
        width: 100%;
        letter-spacing: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
}