@use '_mixin.scss' as *;

.navbar-wrapper-new {
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
    box-shadow: 0px 0px 10px #999;
}


.navbar-new {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-pic {
        height: 60px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
}


// 選單欄
.nav-menu-new {
    display: flex;
    list-style: none;
    margin-bottom: 0rem;
    gap: 2rem;

    .nav-item-new {
        position: static;

        &:hover .dropdown-new {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

.dropdown-new {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 0;
    box-shadow: 0 2px 5px #ccc;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;

    .dropdown-new-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}



.dropdown-new-title {
    @include hover-underline();
    color: #333;
    padding: 5px;
    margin: 0 10px;
}

.dropdown-new-list {

    .dropdown-new-item {
        margin-top: 10px;
        display: flex;
        flex-flow: column wrap;
        padding-left: 1rem;
        gap: 10px;

        .dropdown-new-link {
            @include hover-underline;
            color: #333;
            opacity: 0.6;
        }
    }
}


// 右邊按鈕群
.right-menu {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
        color: #333;
        text-decoration: none;
        font-size: 0.9rem;
    }
}

@media screen and (min-width:993px) {
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
}



// 手機板面板

.navbar-new-m {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-pic {
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    div {
        @include display_row {
            gap: 1rem;
        }
    }
}

.side-menu {
    @include flex-col-center-nowrap {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        min-width: 250px;
        background-color: #ffffffe0;
        padding: 0 0.2rem;
        z-index: 999;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        transition: all 0.5s ease 0s;
        transform: translateX(-500px);
    }
}

.show-menu {
    transform: translateX(0);
}

.side-menu-content {
    height: 100vh;
    width: 100%;
    padding: 5%;
    overflow-y: auto;
}

.side-menu-1 {
    width: 100%;
    padding: 1rem;

    .side-item-1 {
        width: 100%;
        padding-top: 1rem;
        border-bottom: 1px solid #949494;


        .item-title {
            @include item-title {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
        }

        a {
            display: block;
            width: 90%;
        }

        i {
            height: 100%;
            cursor: pointer;
            transition: all 0.5s ease 0s;
        }
    }
}

.side-menu-2 {
    overflow: hidden;
    height: 0px;
    width: 100%;
    transition: all 0.5s ease 0s;

    .side-item-2 {
        .item-title {
            @include item-title {
                padding-bottom: 1rem;
                padding-left: 0.5rem;
            }
        }

        i {
            height: 100%;
            cursor: pointer;
            transition: all 0.5s ease 0s;
        }
    }
}

.side-menu-3 {
    overflow: hidden;
    height: 0px;
    width: 100%;
    transition: all 0.5s ease 0s;

    .side-item-3 {
        padding-bottom: 1rem;
        padding-left: 1.3rem;
    }
}

.navbar-wrapper-new-m {
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
    box-shadow: 0px 0px 10px #999;
    display: none;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

// 購物車預覽
#cart_table{
    width: 100%;
    tr{
        height: 50px;
    }
}



@media screen and (max-width:900px) {
    .navbar-wrapper-new-m {
        display: block;
    }

    .navbar-wrapper-new {
        display: none;
    }
}