@use '_mixin.scss' as *;

.register_content {
    @include flex-col-center-nowrap {
        width: 60%;
        height: 90%;
        min-width: 300px;
        background-color: #ffffffc0;
        border-radius: 20px;
        padding: 1%;
        overflow-x: hidden;
        font-size: 1rem;
    }
}

.r-content-head{
    font-size: 1.2rem;
    font-weight: bolder;
}

.r-content-body {
    @include flex-col-center-nowrap {
        overflow-y: scroll;
        margin: 20px;
        width: 100%;
    }
}

.register-enterInput {
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    width: 100%;
}

.r-item {
    width: 90%;
    margin-left: 20px;

    span {
        display: inline-block;
        margin-top: 0.5rem;
        padding: 0px 10px 0px 10px;
    }
}


// .register-entercity {
//     margin: 0.5rem 0 1rem 0;
//     border-radius: 50px;
//     border: none;
//     padding: 10px 15px;
//     width: 15%;
// }

// .register-entertown {
//     margin: 0.5rem 0 1rem 0;
//     border-radius: 50px;
//     border: none;
//     padding: 10px 15px;
//     width: 19%;
// }

.register-entererea {
    margin: 0.5rem 0 1rem 0;
    border-radius: 50px;
    border: none;
    padding: 10px 15px;
    width: 100%;
}